.btn {
  position: relative;
  color: gray;
  top: 1px;
  background-color: transparent;
  margin: 8px 10px 4px;
}
.btn:hover {
  color: rgb(219, 83, 29);
  background-color: rgba(135, 112, 165, 0.15);
  border-radius: 100%;
  padding: 8px 10px 4px;
  margin: 0;
}
.resetBtn {
  height: 2px;
  position: relative;
  bottom: 15px;
}
